extends layout

block content
  h1= title
  p Welcome to #{title}
  button(id="birgir1") whyyyy?
  button(id="birgir2") AAEEBeeeee
  button(id="birgir3") peewviu
  button(id="birgir4") eeeeeb
  button(id="birgir5") æjó

block script
  script(src="/javascripts/birgirSounds.js")
