extends layout

block content
  h1= title
  p Welcome to #{title}
  button(id="bjartur1") ohohohohh
  button(id="bjartur2") Vagina Buj
  button(id="bjartur3") Bird or Bjallú?

block script
  script(src="/javascripts/bjarturSounds.js")
