extends layout

block content
  h1= title
  p Welcome to #{title}
  button(id="bjarni1") Assist?
  button(id="bjarni2") LizardBoy
  button(id="bjarni3") UEEAAA
  button(id="bjarni4") Golden Voice
  button(id="bjarni5") orgasm
  button(id="bjarni6") perri
  button(id="bjarni7") "þegar hann spyr siggu um sexy times, en hún segir nei"


block script
  script(src="/javascripts/bjarniSounds.js")
