extends layout

block content
  h1= title
  p Welcome to #{title}
  button(id="bjarni1") Assist?
  button(id="bjarni2") LizardBoy
  button(id="bjarni3") UEEAAA


block script
  script(src="/javascripts/bjarniSounds.js")
