extends layout

block content
  div.wrapper_soundboards

    div.soundboard
      h1 Andri
      div.wrapper
          button(id="andri1") nei ha?

    div.soundboard
      h1 Birgir
      div.wrapper
        button(id="birgir1") whyyyy?
        button(id="birgir2") AAEEBeeeee
        button(id="birgir3") peewviu
        button(id="birgir4") eeeeeb
        button(id="birgir5") æjó
        button(id="birgir6") greindavísitölur
        button(id="birgir7") Þegar maður getur ekki haldið aftur að sér
        button(id="birgir8") RIP headphones and ears
        button(id="birgir9") orgasm
        button(id="birgir10") nobb!
        button(id="birgir11") Golden Voice

    div.soundboard
      h1 Bjarni
      div.wrapper
        button(id="bjarni1") Assist?
        button(id="bjarni2") LizardBoy
        button(id="bjarni3") UEEAAA
        button(id="bjarni4") Golden Voice
        button(id="bjarni5") orgasm
        button(id="bjarni6") perri
        button(id="bjarni7") "þegar hann spyr siggu um sexy times, en hún segir nei"
        button(id="bjarni8") RipHeadphones
        button(id="bjarni9") perrakall

    div.soundboard
      h1 Bjartur
      div.wrapper
        button(id="bjartur1") ohohohohh
        button(id="bjartur2") Vagina Buj
        button(id="bjartur3") Bird or Bjallú?

    div.soundboard
      h1 Olgeir
      div.wrapper
        button(id="olgeir1") Kurrrrva?
        button(id="olgeir2") Hvaaeeoyoy?

block script
  script(src="/javascripts/andriSounds.js")
  script(src="/javascripts/bjarniSounds.js")
  script(src="/javascripts/bjarturSounds.js")
  script(src="/javascripts/birgirSounds.js")
  script(src="/javascripts/olgeirSounds.js")
